[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=WL
Comment=Start Wilderland
Comment[it_IT]=Avvia Wilderland
Icon=Wilderland
Icon[it_IT]=Wilderland
Name=Wilderland
Name[it_IT]=Wilderland
Categories=Game
